.bar-graph {
  width: 50%;
  height: 300px;
  color: #333;
  position:relative;
  text-align: center;

  .tooltip {
    font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    text-align: center;
    min-width: 60px;
  }

  svg {
    text-align: center;

    .graph-text {
      font-size: 14px;
      fill: #333;
    }

    .axis {
      path {
        fill: none;
        stroke: #767676;
        shape-rendering: crispEdges;
      }
      &.y .tick line {
        fill: none;
        stroke: #767676;
        stroke-width: 1;
      }
      .tick text {
        font-size: 13px;
        font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
        text-transform: capitalize;
      }
    }
  }

  @media (max-width: 800px) {
    width: 100%;
    padding: 0;

    svg .axis .tick text{
      font-size: 11px;
    }
  }
}