.campaign-map {
  width: 50%;
  float: left;
  position: relative;
  text-align: center;

  .tooltip {
    font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    font-size: 14pt;

    h4 { font-weight: 500; }
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}

.cartogram__hex--empty {
    fill: #fff;
    stroke: #767676;
    fill-opacity: 1;
}

.cartogram__hexgroup, .key rect {
    stroke: #767676;
    stroke-opacity: 0.8;
    fill-opacity: 1;
}

.key {
  text { 
    font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    font-size: 12px;
    fill: #333;
    alignment-baseline: middle;
  }
}
