.campaign-map {
  width: 50%;
  float: left;
  position: relative;

  .tooltip {
    font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    font-size: 14pt;

    h4 { font-weight: 500; }
  }
}

.cartogram__hex {
    // transition: all 50ms ease-out;
/*    fill: #767676;
*/}

.cartogram__hex--empty {
    fill: #fff;
    stroke: #767676;
    fill-opacity: 1;
}

.cartogram__hexgroup {
    stroke: #767676;
    stroke-opacity: 0.8;
    fill-opacity: 1;
}

