html {
-webkit-font-smoothing:antialiased;
font-family:'Guardian Egyptian Web', georgia, serif;
box-sizing:border-box;
font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size:2.25rem;
}

h2 {
  margin-bottom: 0.0625rem;
  font-size: 1.25rem;
}
    

body {
margin:0;
line-height:1.5;
color:#000;
background:#fff}

#outer-wrapper{
/*  max-width: 1260px;*/
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}

a {
color:#005689;
text-decoration: none !important;
border-bottom: 0.0625rem solid #dcdcdc;
-webkit-transition: border-color 0.15s ease-out;
transition: border-color 0.15s ease-out;
}

a:hover {
border-color: #6e99b3;
}

.indent {
margin-left:20px;
}

ul {
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-padding-start:0;
}

.chartTitle {
font-size:1.25rem;
line-height:1.375rem;
padding-bottom:.25rem;
font-weight:600;
border-bottom:1px solid #dcdcdc;
color:#000 }

.chartSans {
line-height:1rem;
color:#767676;
font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
}

.chartNotes { 
font-size:0.9rem; 
color:#767676;
font-weight: bold;
font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.expand {
position:absolute;
top:-2px;
right:0;
width:1.5rem;
height:1.5rem;
border-radius:50%;
border:1px solid #000;
background:#fff;
line-height:1.5rem;
font-size:1.25rem;
text-align:center;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none; 
user-select:none}

.expand:after {
content:'+'}

.expand:hover {
background:#000;
color:#fff;
transition:.25s ease}

.open .details {
display:block;
opacity:1}

.open .expand:after {
content:'-'}

.btn {
    background-color: #eaeaea;
    border-radius: 62.5rem;
    border: none;
    outline: 0;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: #767676;
    padding: 4px 10px;
    text-align: right;
    cursor:pointer;
}

.btn:hover {
  background-color: #dcdcdc;
  transition: background-color 0.5s ease;
}

.btn-selected {
    background-color: #005689;
    color: #FFF;
}

.row {
margin-bottom:20px; 
}

.row:after {
content: " "; /* Older browser do not support empty content */
visibility: hidden;
display: block;
height: 0;
clear: both;
}

.col10 {
float:left;
width:9%;
margin-right:1%; 
}

.col20 {
float:left;
width:19%;
margin-right:1%; 
}

.col30 {
float:left;
width:29%;
margin-right:1%; 
}

.col50 {
float:left;
width:49%;
margin-right:1%; 
}

.col70 {
float:left;
width:69%;
margin-right:1%; 
}

.col80 {
float:left;
width:79%;
margin-right:1%; 
}

.col90 {
float:left;
width:79%;
margin-right:1%; 
}

.main-col {
max-width: 38.75rem;
position: relative;
float: left;
}

.offset .main-col {
max-width: 38.75rem;
position: relative;
display: block;
float: none;
}

@media (min-width: 61.25em) {
.offset .main-col {
  margin-left: 0; 
  width:560px;
  float: left;}  
}

@media (min-width: 71.25em) {
.offset .main-col {
  margin-left: 15rem;
  width:640px;
  float: left; } 
}


.left-flex {
position: relative; }
@media (min-width: 46.25em) {
.left-flex {
  position: relative; } }
@media (min-width: 20em) {
.left-flex {
  position: relative; } }
@media (min-width: 30em) {
.left-flex {
  position: relative; } }
@media (min-width: 61.25em) {
.left-flex {
  position: relative; } }
@media (min-width: 71.25em) {
.left-flex {
  float: left;
  width: 240px; } }
/*@media (min-width: 81.25em) {
.left-flex {
  float: left;
  width: 240px; } }*/
.left-flex h2 {
font-size: 18px;
line-height: 24px;
font-family: 'Guardian Egyptian Web', Georgia, serif;
font-weight: 900; }

.gu-graphic-footer {
border-top:1px solid #dadada;
padding-top:0.5em;
/*margin-top:1rem;*/
color:#767676;
font-family:'Guardian Text Sans Web', arial, sans-serif;
font-size:.75rem;
position:relative}

.gu-graphic-footer p {
font-size:.75rem;
margin:0;
display:inline-block}

.gu-graphic-footer p:nth-of-type(2) {
float:right}

.right {
  text-align: right;
  float:right;
}   

.left {
  text-align: left;
  float:left;
}


@media (max-width: 600px) {

  html {
    font-size:90%;
  }

  .col50, .col10, .col20, .col30, .col70 {
  width:100%;
  margin:0;
  }

}

@media (max-width: 450px) {

  html {
    font-size:80%;
  }

}
