#rollin-graphic {
  background: transparent url(@@assetPath@@/assets/imgs/rollin.gif) 0 0 no-repeat;
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 2;
  margin-top: -180px;
  left: -300px;
  margin-left: 0;  

  &.rollin {
    animation: 1.5s ease-in-out 0.5s forwards rollin;
    -o-animation: 1.5s ease-in-out 0.5s forwards rollin;
    -moz-animation: 1.5s ease-in-out 0.5s forwards rollin;
    -webkit-animation: 1.5s ease-in-out 0.5s forwards rollin;
  }
  &.rollout {
    animation: 1s ease-in forwards rollout;
    -o-animation: 1s ease-in forwards rollout;
    -moz-animation: 1s ease-in forwards rollout;
    -webkit-animation: 1s ease-in forwards rollout;
  }

  @media (max-width: 640px) {
    left: initial;
    margin-top: -150px;
    background-size: 80%;

    &.rollin, &.rollout {
      animation: none 0s;
      -o-animation: none 0s;
      -moz-animation: none 0s;
      -webkit-animation: none 0s;
    }
  }
}

@keyframes rollin {
  from {
    left: -300px;  
  }

  to {
    left: 60%;
  }
}

 @-o-keyframes rollin {
  from {
    left: -300px;  
  }

  to {
    left: 60%;
  }
 }

 @-moz-keyframes rollin{
  from {
    left: -300px;  
  }

  to {
    left: 60%;
  }
 }

 @-webkit-keyframes rollin{
  from {
    left: -300px;  
  }

  to {
    left: 60%;
  }
 }

@keyframes rollout {
  from {
    left: 60%;
    margin-left: 0;   
  }

  to {
    left: 100%;
    margin-left: 300px;
  }
}

 @-o-keyframes rollout {
  from {
    left: 60%;
    margin-left: 0;   
  }

  to {
    left: 100%;
    margin-left: 300px;
  }
 }

 @-moz-keyframes rollout {
  from {
    left: 60%;
    margin-left: 0;   
  }

  to {
    left: 100%;
    margin-left: 300px;
  }
 }

 @-webkit-keyframes rollout {
  from {
    left: 60%;
    margin-left: 0;   
  }

  to {
    left: 100%;
    margin-left: 300px;
  }
 }
