@import "fonts";
@import "palette";
@import "mq";
@import "variables";
@import "general";
@import "gu-aus";
@import "header";
@import "campaign-map";
@import "bar-graph";
@import "events-list";
@import "campaign-table";
@import "tooltip";
@import "blink";
@import "sprites";
@import "font-awesome";
@import "footable.min";
@import "slider";

.background {
  background-color: #eee;
}

.interactive-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #dcdcdc;
  }

  @media (max-width: 800px) {
    &:after {
      border: none;
    }
  }
}

section {
  clear: both;
  margin: 20px 0;
  z-index: 100;
  position: relative;

  h2 { 
    font-weight: 500; 
    text-align: center;
    z-index: 100;
    padding: 0.75em 0;
    background-color: #fff;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.labor, .coalition {
  float: left;
  clear: none;
}

#summaries {
  margin: 0;
  h3 { 
    font-weight: 400; 
    margin-bottom: 10px;
    font-size: 20pt;
  }
  .labor, .coalition {
    width: 50%;
  }
  .summary-text { 
    font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    max-width: 320px;
  }
  .profile-text { 
    min-width: 320px;
  }
  .figure-txt, .category{
    font-weight: bold;
  }
  .category {
    font-style: italic;
    text-transform: capitalize;
  }

  #summary-labor {
    .profile-text { 
      float: right;
      margin-right: 20px;
      text-align: left;
    }
    .figure-txt, .category{
      color: #b51800;
    }
    #shorten {
      float: right;
      margin-right: 20px;
      margin-top: 30px;
    }
  }
  #summary-coalition {
    .profile-text { 
      float: left;
      text-align: right;
      margin-left: 20px;
    }
    .figure-txt, .category {
      color: #005689;
    }
    #turnbull {
      float: left;
      margin-left: 20px;
      margin-top: 30px;
    }
  } 
  @media (max-width: 800px) {
    .labor, .coalition {
      width: 100%;
    }

    .profile-text {
      min-width: initial;
    }
  } 
}

#promises {
  .controls {
    text-align: center;
    background-color: #fff;
    padding: 10px 0;

    .toggle-mode, .toggle-status {
      margin-bottom: 10px;
      h4 {
        font-weight: normal;
        font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
        font-size: 10pt;
        margin-right: 5px;
      }
      h4, a {
        display: inline-block;
      }

      a {
        padding: 6px 10px;
        font-weight: 500;

        &.selected {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}

#date-control {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

  #slider-container {
    margin: 0 auto;
  }

  @media (max-width: 800px) {
    width: 100%;
    box-sizing: border-box
  }
}

#events {
  height: 230px;
}

.party-title {
  display: none;
  padding: 0;
  background: none;

  &.labor { color: #b51800; }
  &.coalition { color: #005689; }
}

@media (max-width: 800px) {
  .party-title {
    display: inherit;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
  }

  #events {
    height: 120px;

    .events-list .announcements {
      display: none;
    }
  }
}

@media (min-width: 61.25em) {
	.text {
    margin-left: 10rem;
    position: relative;
	}
} 

@media (max-width: 38.75rem) {
	.text {
	  margin-left: 0; 
	}  
}  
